// @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,700&display=swap");

// TODO: use this to implement color palette https://linear.app/optimism/issue/FE-483/use-hextorgb-to-implement-a-color-pallette
@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  transition: background-color 500ms ease;
  color: var(--input-text-color);

  .MuiSkeleton-root {
    background-color: var(--skeleton-loader);
  }

  .MuiBackdrop-root {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
  }

  .MuiCheckbox-root {
    padding: 0px;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .filter-green {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
      brightness(118%) contrast(119%);
  }
  // Light mode colors
  --neutral-0: #fff;
  --neutral-100: #f4f7fa;
  --neutral-200: #edf2f7;
  --neutral-300: #e2e8f0;
  --neutral-400: #cbd5e0;
  --neutral-500: #a0aec0;
  --neutral-600: #68778d;
  --neutral-700: #4a5568;
  --neutral-800: #323a43;
  --neutral-900: #202327;
  --primary-100: #fff0f1;
  --primary-500: #06a5fa;
  --primary-600: #06a5fa;
  --primary-700: #2173df;
  --primary-800: #435cff;
  --secondary-600: #2173df;
  --secondary-700: #1c65c4;
  --success-600: #5ba85a;
  --error-600: #dd6b20;

  // Light mode colors low opacity
  --success-600-20: #5ba85a40;
  --error-600-20: #dd6b2040;

  // Dark mode colors
  --neutral-dark-0: #14171a;
  --neutral-dark-100: #1a1e23;
  --neutral-dark-200: #21262c;
  --neutral-dark-300: #293037;
  --neutral-dark-400: #323a43;
  --neutral-dark-500: #4a5568;
  --neutral-dark-600: #718096;
  --neutral-dark-700: #a0aec0;
  --neutral-dark-800: #cbd5e0;
  --neutral-dark-900: #fff;
  --primary-dark-100: #3b0209;
  --primary-dark-500: #06a5fa;
  --primary-dark-600: #06a5fa;
  --primary-dark-700: #2173df;
  --primary-dark-800: #435cff;
  --secondary-dark-600: #2173df;
  --secondary-dark-700: #327ee1;
  --success-dark-600: #5ba85a;
  --error-dark-600: #dd6b20;

  // Light mode color vars
  &.light {
    --header-pill: var(--neutral-300);
    --header-nav-text: var(--neutral-600);
    --card-secondary: var(--neutral-0);
    --card: var(--neutral-0);
    --header-pill-accents: var(--neutral-300);
    --pill-text: var(--neutral-700);
    --primary-color: var(--primary-600);
    --primary-color--rgb: 197, 7, 29;
    --link-text: var(--neutral-600);
    --outer-input-bg: #f1f4f9;
    --dropdown-hover: #f1f4f9;
    --dropdown-selector: var(--neutral-200);
    --input-border: var(--neutral-400);
    --input-text-color: var(--neutral-900);
    --background-color: var(--neutral-100);
    --placeholder-text: #8496ae;
    --hover-border: #a9b9cc;
    --pill-hover: #f1f4f9;
    --btn-primary-hovered: var(--primary-700);
    --btn-primary-active: var(--primary-800);
    --btn-secondary-border: var(--neutral-400);
    --link-color: var(--secondary-600);
    --link-hover: var(--secondary-700);
    --selector-header: var(--neutral-800);
    --skeleton-loader: rgba(203, 213, 224, 0.3);
    --withdrawal-initiated-shadow: 0px 6px 8px -6px rgba(20, 23, 26, 0.12),
      0px 8px 16px -6px rgba(20, 23, 26, 0.08);
    --rules-icon-bg: #ffdbdf;
    --claims-controller-bg: #ffdbdf;
    --claims-controller-text: var(--primary-600);
    --claims-shadow: 0px 0px 8px -4px rgba(20, 23, 26, 0.12),
      0px 4px 16px -1px rgba(20, 23, 26, 0.08);
    --claims-bg: #e0e6e4;
    --body: #f1f4f9;
    --navigation-icon-bg: var(--neutral-300);
    --input-hover-border: var(--neutral-500);
    --pill-active: var(--neutral-300);
    --banner-background: var(--neutral-800);
    --switch-bg: rgba(169, 185, 204, 1);
    --card-shadow: 0px 0px 8px -4px rgba(20, 23, 26, 0.12),
      0px 4px 16px -1px rgba(20, 23, 26, 0.08);
    --button-tertiary-text: var(--neutral-700);
    --modal-side-button: rgba(32, 35, 39, 0.4);
    --pill-tab-card-bg: #f1f4f9;
    --pill-tab-card-text: --neutral-700;
    --divider: var(--neutral-400);
    --pill-tab-card-bg-active: var(--neutral-0);
    --discord: #5865f2;
    --twitter: #1da1f2;
    --mirror: #007aff;
    --github: #121212;
  }

  // Dark mode color vars
  &.dark {
    --card-secondary: var(--neutral-dark-0);
    --card: var(--neutral-dark-100);
    --header-nav-text: var(--neutral-dark-700);
    --header-pill: var(--neutral-400);
    --header-pill-accents: var(--neutral-dark-400);
    --pill-text: var(--neutral-dark-700);
    --link-text: var(--neutral-dark-600);
    --primary-color: var(--primary-dark-600);
    --primary-color--rgb: 197, 7, 29;
    --outer-input-bg: #14171a;
    --dropdown-hover: var(--neutral-dark-300);
    --dropdown-selector: var(--neutral-dark-300);
    --input-border: #39424c;
    --input-text-color: var(--neutral-dark-900);
    --background-color: var(--neutral-dark-0);
    --placeholder-text: #4e5a6e;
    --hover-border: #4e5a6e;
    --pill-hover: #21262c;
    --btn-primary-hovered: var(--primary-dark-700);
    --btn-primary-active: var(--primary-dark-800);
    --btn-secondary-border: var(--neutral-dark-300);
    --link-color: var(--secondary-dark-600);
    --link-hover: var(--secondary-dark-700);
    --selector-header: var(--neutral-dark-800);
    --skeleton-loader: rgba(57, 66, 76, 0.3);
    --withdrawal-initiated-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.12),
      0px 8px 16px -6px rgba(0, 0, 0, 0.08);
    --rules-icon-bg: var(--neutral-dark-200);
    --claims-controller-bg: #39424c;
    --claims-controller-text: var(--neutral-dark-900);
    --claims-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.12),
      0px 4px 16px -1px rgba(0, 0, 0, 0.08);
    --claims-bg: #252e2b;
    --body: var(--neutral-dark-0);
    --navigation-icon-bg: var(--neutral-dark-200);
    --input-hover-border: var(--neutral-dark-500);
    --pill-active: var(--neutral-dark-300);
    --banner-background: var(--neutral-dark-300);
    --switch-bg: rgba(57, 66, 76, 1);
    --card-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.12),
      0px 4px 16px -1px rgba(0, 0, 0, 0.08);
    --button-tertiary-text: var(--neutral-dark-800);
    --modal-side-button: rgba(32, 35, 39, 0.4);
    --pill-tab-card-bg: #14171a;
    --pill-tab-card-text: var(--neutral-dark-700);
    --divider: #39424c;
    --pill-tab-card-bg-active: #21262c;
    --discord: #5865f2;
    --twitter: #1da1f2;
    --mirror: #007aff;
    --github: #ffffff;
  }
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@mixin titleText {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
}

@mixin mainCard {
  background-color: var(--card);
  border-radius: 16px;
  box-shadow: var(--claims-shadow);
}

@mixin noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.app-container {
  height: 100%;
  min-height: 100vh;
  margin: auto;
}

.app-container__withdrawal-initiated {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 552px;
  margin: -28px auto;
  border-radius: 16px;
  padding: 24px 36px;
  background-color: var(--card);
  box-shadow: var(--withdrawal-initiated-shadow);

  h1 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 0px;
    color: var(--input-text-color);
  }

  p {
    color: var(--link-text);
    font-size: 12px;
    margin: 0px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    color: var(--primary-color);
    border: 1px solid var(--btn-secondary-border);
    border-radius: 12px;
    text-decoration: none;
    background-color: inherit;

    &:hover {
      background-color: var(--pill-hover);
    }
  }
}
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.css-8ndowl,
.modal-show {
  position: fixed;
  z-index: 1050;
  inset: 0px;
}
.css-919eu4 {
  position: fixed;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  z-index: -1;
}

@import "OptionsDropdown.scss";
@import "profileDropdown.scss";
@import "publicDelegates.scss";

.swal2-styled.swal2-confirm {
  background-color: var(--primary-color) !important;
  &:focus {
    box-shadow: 0 0 0 3px rgb(4 165 250 / 50%) !important;
  }
}
.scale-slide-enter-active,
.scale-slide-leave-active {
  position: absolute;
  transition: all 0.85s ease;
}

.scale-slide-enter-from {
  left: -100%;
}

.scale-slide-enter-to {
  left: 0%;
}

.scale-slide-leave-from {
  transform: scale(1);
}

.scale-slide-leave-to {
  transform: scale(0.8);
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}
.cursor-pointer {
  cursor: pointer;
}
.form-label {
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}
.vti__input {
  border-radius: 0.375rem !important;
  font-size: 1rem !important;
  padding: 0.375rem 0.75rem !important;
}
.invalid-feedback {
  display: block;
}
body.dark {
  .form-control,
  .form-select,
  .input-group-text {
    background-color: var(--card);
    color: var(--input-text-color);

    &:focus {
      background-color: var(--card);
      color: var(--input-text-color);
    }
  }
}
.desktop-header__header-link {
  img {
    width: 140px;
  }
}
.wallet-connector__header {
  font-style: normal;
}
.wallet-connector__wallet-container li.disabled {
  background-color: var(--dropdown-hover);
  cursor: not-allowed;
}
.theme-icon {
  width: 1.2em;
}
.header-pills__user-settings {
  width: 40px;
}
.transaction-form {
  .delegateModal__container .delegateModal__banner {
    img {
      filter: blur(10rem);
    }

    h2 {
      text-transform: uppercase;
    }
  }

  .optimism-button__container {
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
  }

  // Base Divider class
  .divider {
    display: flex;
    font-size: 0.8rem;

    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }

  // Base line
  .line {
    align-items: center;
    margin: 1em -1em;

    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  }

  .one-line {
    &:before,
    &:after {
      background: #d1d5db;
    }
  }
}
.list-item-offer-detail {
  .list-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--input-border);
    margin: 10px 0;
    border-radius: 10px;

    padding: 15px 20px;

    .list-title {
      font-size: 17px;
      margin-bottom: 0;
    }

    .list-value {
      border: none;
      outline: none !important;
      color: #04a5fa;
      padding: 3px 10px !important;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}
