.header__container {
  height: 72px;
  box-shadow: 0px 6px 8px -6px rgba(20, 23, 26, 0.06),
    0px 8px 16px -6px rgba(20, 23, 26, 0.04);
  background: var(--card);
}
.desktop-header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 32px;

  .desktop-header__bars {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--pill-text);
    font-size: 20px;
    height: 40px;
    width: 40px;
    margin-right: 20px;
  }

  .desktop-header__times {
    border: 1px solid var(--input-border);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    background-color: inherit;
    color: var(--pill-text);
    cursor: pointer;
  }

  .mobile-icon {
    display: none;
  }

  section {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding-left: 40px;

    .desktop-header__list-item {
      height: 100%;
      display: flex;
      align-items: center;
      color: var(--link-text);
      font-size: 14px;
      font-weight: 600;
      box-shadow: inset 0 -3px 0 var(--card);

      &.active {
        box-shadow: inset 0 -3px 0 var(--primary-color);
        color: var(--input-text-color);
      }

      a {
        margin-top: 3px;
        text-decoration: none;
        color: var(--link-text);
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        padding: 0 18px;

        &:hover {
          color: var(--input-text-color);
          cursor: pointer;
        }
      }
    }
  }

  .desktop-header__header-link {
    color: var(--primary-color);
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    font-family: "Rubik", sans-serif !important;
    text-decoration: none;
  }
}

@media (max-width: 1170px) {
  .desktop-header__container {
    padding: 0 24px;
    .mobile-icon {
      display: initial;
    }

    ul {
      display: none;
    }
  }
}
.dropdown-item__container {
  position: relative;
  padding: 0 18px;
  margin-top: 3px;
  cursor: pointer;
  height: 72px;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--input-text-color);
  }
}

.dropdown-item__label {
  display: flex;
  align-items: center;
  gap: 6px;

  svg {
    margin-top: 2px;
    height: 10px;
  }
}

.dropdown-item__menu {
  position: absolute;
  width: 210px;
  height: fit-content !important;
  top: 70px;
  left: 0;
  background-color: var(--card);
  box-shadow: var(--claims-shadow);
  border-radius: 12px;
  border: 1px solid var(--input-border);
  padding: 8px 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
  overflow: hidden;

  li {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-weight: 400;
    // height: 35px;

    a {
      align-items: center;
      flex-wrap: nowrap;
      font-size: 14px;
      color: var(--pill-text);
      padding: 8px 18px !important;

      span {
        margin-left: 12px;
      }

      svg,
      img {
        width: 20px;
        object-fit: contain;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--pill-hover);
      }
    }
  }

  .line-break {
    border-bottom: 1px solid var(--input-border);
    margin: 8px 0;
  }
}
.header-pills__container {
  display: flex;
  align-items: center;

  button {
    border: 1px solid var(--header-pill-accents);
    background-color: var(--card);
    height: 40px;
    border-radius: 100px;
    margin: 0 6px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--pill-text);
    font-size: 14px;

    &:hover {
      background-color: var(--pill-hover);
      color: var(--input-text-color);
      border: 1px solid var(--hover-border);
      cursor: pointer;
    }
  }
}

.header-pills__network {
  img {
    height: 24px;
    width: 24px;
    border-radius: 100px;
    margin-right: 8px;
  }

  span {
    white-space: nowrap;
  }
}

.header-pills__account {
  img {
    margin-right: 8px;
    border-radius: 100px;
    height: 24px;
    width: 24px;
  }

  section:first-child {
    margin-right: 8px;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--pill-text);
    height: 100%;
    width: 100%;
  }
}

.header-pills__user-settings {
  .header-pills__divider {
    width: 1px;
    height: 28px;
    background-color: var(--header-pill-accents);
  }
}

.header-pills__connected-pills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-pills__connect-btn {
  background-color: var(--primary-color) !important;
  color: white !important;
  border: 1px solid var(--primary-color) !important;
  font-weight: bold;

  &:hover {
    border: 1px solid var(--btn-primary-hovered) !important;
    background-color: var(--btn-primary-hovered) !important;
  }
}
.mobileDropdownItem__container {
  display: relative;
}

.mobileDropdownItem__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  text-decoration: none;
  color: var(--input-text-color);
  padding: 8px 0px;
  width: 100%;

  .link-wrapper {
    display: flex;
    align-items: center;

    .circle-bg {
      height: 40px;
      width: 40px;
      background-color: #ff042033;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      margin-right: 16px;

      svg {
        font-size: 16px;
        color: var(--primary-color);
      }
    }
  }

  .rotate {
    transition: all 200ms ease;
    transform: rotate(90deg);
  }

  .static {
    transform: rotate(0deg);
  }
}

.mobileDropdownItem__dropdown {
  padding-left: 55px;

  .mobile-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-right: 16px;
    background-color: var(--pill-hover);
  }
}
.mobile-header__container {
  height: 100%;
  padding: 0 24px;
  max-width: 100vw;
}

.mobile-header__inner-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;

  svg {
    color: var(--pill-text);
    font-size: 20px;
  }

  &.active {
    color: var(--input-text-color) !important;
  }
}

.mobile-header__header-link {
  color: var(--primary-color);
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  font-family: "Rubik", sans-serif !important;
  text-decoration: none;

  &.active {
    color: var(--input-text-color) !important;
  }
}

.mobile-header__times {
  border: 1px solid var(--input-border);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: inherit;
  cursor: pointer;
}

.mobile-header__bars {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
  color: var(--input-text-color);
  font-size: 18px;

  .mobile-header__item-first {
    display: flex;
    align-items: center;
    color: var(--input-text-color);

    & > :first-child {
      color: var(--input-text-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--input-border);
      border-radius: 100px;
      height: 40px;
      width: 40px;
      margin-right: 16px;
    }
  }

  .mobile-header__item-second {
    color: var(--link-text);
    background-color: inherit;
    border: none;
    height: 40px;

    .mobile-header__switch {
      margin-top: 8px;
    }

    .mobile-header__chevron {
      font-size: 16px;
      margin-left: 8px;
    }

    span {
      font-size: 18px;
    }
  }
}

.mobile-header__connect {
  text-decoration: none;
}

.mobile-header__sub-menu {
  list-style: none;
  padding: 0px;
  color: var(--pill-text);
  padding-left: 55px;

  svg {
    color: var(--link-text);
    font-size: 16px;
    margin-right: 12px;
  }

  span {
    color: var(--pill-text);
  }

  button {
    background-color: inherit;
    color: var(--pill-text);
    border: none;
    height: 40.5px;
    font-size: 16px;
    padding: 0px;
  }
}
.mobile-header__menu {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  height: calc(100vh - 72px);
  padding: 12px 24px;
  padding-bottom: 24px;
  background-color: var(--card);
  border-top: 1px solid var(--input-border);
  box-shadow: 0px 0px 8px -4px rgba(20, 23, 26, 0.12),
    0px 4px 16px -1px rgba(20, 23, 26, 0.08);
  overflow-y: scroll;
}

.mobile-header__times {
  border: 1px solid var(--input-border);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: inherit;
  cursor: pointer;
}

.mobile-header__bars {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-header__menu-items {
  list-style: none;
  padding: 0px;
  margin: 0px;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    text-decoration: none;
    color: var(--input-text-color);
    padding: 8px 0px;

    .link-wrapper {
      display: flex;
      align-items: center;

      .circle-bg {
        height: 40px;
        width: 40px;
        background-color: #ff042033;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        margin-right: 16px;

        svg {
          font-size: 16px;
          color: var(--primary-color);
        }
      }
    }
  }
}

.mobile-header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
  color: var(--input-text-color);
  font-size: 18px;

  .mobile-header__item-first {
    display: flex;
    align-items: center;
    color: var(--input-text-color);

    & > :first-child {
      color: var(--input-text-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--input-border);
      border-radius: 100px;
      height: 40px;
      width: 40px;
      margin-right: 16px;
    }
  }

  .mobile-header__item-second {
    color: var(--link-text);
    background-color: inherit;
    border: none;
    height: 40px;

    .mobile-header__switch {
      margin-top: 8px;
    }

    .mobile-header__chevron {
      font-size: 16px;
      margin-left: 8px;
    }

    span {
      font-size: 18px;
    }
  }
}

.mobile-header__connect {
  text-decoration: none;
}

.mobile-header__sub-menu {
  list-style: none;
  padding: 0px;
  color: var(--pill-text);
  padding-left: 55px;

  svg {
    color: var(--link-text);
    font-size: 16px;
    margin-right: 12px;
  }

  span {
    color: var(--pill-text);
  }

  button {
    background-color: inherit;
    color: var(--pill-text);
    border: none;
    height: 40.5px;
    font-size: 16px;
    padding: 0px;
  }
}
